.btn_style {
    width         : 100%;
    border-radius : 5px;
    border        : none;
    color         : white;
    border        : none;
    padding       : 2px;
    font-family   : Poppins;
    font-size     : 15px;
    font-style    : normal;
    font-weight   : 500;
    letter-spacing: 0em;
    text-align    : center;
    margin-right  : 20px;
}