.product {
    max-width       : 32%;
    min-width       : 324px;
    display         : flex;
    background-color: #01191E;
    border-radius   : 14px;

    .productLink {
        display: flex;
    }
}

.productimage {
    height                   : 152px;
    position                 : relative;
    // background-position: center;
    background-repeat        : no-repeat;
    background-size          : cover;
    border-top-left-radius   : 14px;
    border-bottom-left-radius: 14px;

    img {
        object-fit: cover;
        width     : 152px;
        max-width : 152px;
        height    : auto;
        opacity   : 1;
    }
}

.productimage:hover {
    cursor: pointer;
}

.discount {
    position                  : absolute;
    top                       : 0;
    font-size                 : 15px;
    font-weight               : bold;
    padding                   : 4px 10px 4px 10px;
    background                : #34A853;
    border-bottom-right-radius: 4px;
    border-top-left-radius    : 14px;
}

.producttext {
    padding: 8px 6px 12px 6px;
}

.pricebtn {
    padding: 0 8px;

    button {
        width        : 100%;
        background   : #0D3840;
        border       : none;
        border-radius: 4px;
    }
}

.producttitle {
    text-align   : left;
    margin-bottom: 14px;
}

.producticon {
    margin-bottom: 12px;
    padding      : 0 16px;

    a {
        margin-right: 4px;
    }
}