@import '../../../assets/style/base';

.mydata_page_wrap {
   padding-bottom: 10px;
}      
.config_group {
    margin: 0 auto;
    margin-bottom: 63px;     
    width: 1012px;
}
.config_header {
    display: flex;
}
.config_header p {
    font-size : 16px;
}
.config_panel1 {
    display: flex;
}
.config_panel2 {
    display: flex;
    margin-top:20px;
}    
.header_p1{
    margin-left:31px
}
.header_p2{
    margin-left: 330px;
}
.header_p3{
    margin-left:70px;
}
.header_p4{
    margin-left:105px;
}


