@import '../../../assets/style/base';
@import '../../../pages/product';

.fs_38 {
	font-size: 38px !important;
}

.fs_26 {
	font-size: 26px !important;
}

.circul {
	position: absolute;
	left: 0;
}

.circul circle{
	color: #808C8E !important;
}