* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: Poppins;
}

body {
    background-color: #01060A
}

button {
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

a:hover {
    opacity: 0.8;
}

.container {
    width: 1090px;
    max-width: 1090px; 
    margin: 0 auto;  
}

.home {
    width: 100%;
    height: 100%;
    position: relative;
    color: white;
    margin: 0;
    box-sizing: border-box;
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('./../../assets/home/bg-homeheader.png');
}

.cardcontent {
    width: 100%;
    padding: 0 40px 0 40px;
}

.slide {
    
}

.slideitem {
    text-align: center;
    img {
        object-fit: cover
    }
}

.slidetext {
    width: 99%;
    margin: 0 auto;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.descript {
    max-width: 70%;
}

.descripttitle {
    font-size: 28px;
    font-weight: bold;
}

.descripttext {

}

.slidebutton {
    max-width: 30%;
}

.service {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.serviceitem {
    max-width: 30%;
    display: flex;
    align-items: center;
}

.servicedescript {
    h5 {
        font-size: 22px;
        font-weight: bold;
    }

    p {
        font-size: 14px;
    }
}

.cardlist {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.roblox {
    margin-top: 70px;
}

.riot {
    margin-top: 40px;
}

.nintendo {
    width: 100%;
    margin-top: 45px;
    background-image: url('./../../assets/home/Banner Site Nintendo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    img {
        width: 100%;
        height: auto;
        opacity: 0;
    }
}

.nintendoconntent {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 0;
    padding: 0 30px;
}

.nintendoText {
    h5 {
        font-size: 28px;
        font-weight: bold;
    }

    p {

    }
}

.xbox {
    margin-top: 65px;
}

.xboxwrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.xboxmain {
    width: 496px;
    min-width: 496px;
    border-radius: 14px;
    background-image: url('./../../assets/home/Rectangle.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    img {
        width: 100%;
        height: auto;
        opacity: 0;
    }
}

.xboxitem {
    width: 496px;
    max-width: 496px;
}

.xboxitemrow {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.xboxitemrow:last {
    margin-top: 12px;
}

.product {
    margin-top: 70px;
}

.productlist {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content:space-between;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    
}