.footerpanel {
    width: 100%;
    background: #01191E;
    border-top: solid #F15A24 5px;
    margin-top: 40px;
}

.container {
    width: 1090px;
    max-width: 1090px; 
    margin: 0 auto;  
    padding: 0 40px;
}

.pay {
    padding: 12px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid #0D3840 2px;
}

.paycard {
    display: flex;
    align-items: center;
    p{
        font-weight: 600;
        font-size: 15px;
    }

    div {
        display: flex;
        align-items: center;
        margin-left: 10px;

        img {
            margin-left: 10px;
        }
    }
}

.paycountry {
    position: relative;
    a {
        display: flex;
        text-decoration: none;
        align-items: center;
        justify-content: space-between;
        background: #0D3840;
        border-radius: 8px;
        border: none;
        padding: 5px;

        img {
            margin-right: 12px;
        }

        i {
            border: solid white;
            border-width: 0 2px 2px 0;
            display: inline-block;
            padding: 3px;
            margin-bottom: 4px;
            margin-left: 12px;
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
        }
    }
}

.support {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 50px 0px;
    border-bottom: solid #0D3840 2px;
}

.supporttext {
    width: 23%;
    max-width: 25%;
    text-align: left;
    h5 {
        font-weight: bold;
        font-size: 23px;
    }

    p {
        font-size: 17px;
        a {
            text-decoration: none;
        }
    }

    div {
        display: flex;
        align-items: center;

        img {
            width: 40px;
            height: auto;
        }

        img:hover {
            opacity: 0.8;
        }
    }
}

.contact {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid #0D3840 2px;
    padding: 50px 0px;
    border-bottom: solid #0D3840 2px;
}

.contactus {
    p {
        font-size: 17px;
    }
}

.logo {
    img {
        width: 411px;
        height: auto;
    }
}

.copyright {
    padding: 20px 0px;
    text-align: center;
    color: #0D3840;
    span {
        color: #F15A24;
    }
}

.panel {
    width: 280px;
    min-width: 280px;
    background: #0D3840;
    border-radius: 8px;
    padding: 20px;
    display: block;
    position: absolute;
    top: 54px;
    right: 0;
    text-align: center;
    
    h5 {
        font-weight: bold;
        font-size: 16px;
    }

    h6 {
        font-size: 14px;
        font-weight: 400;
    }

    p {
        text-align: left;
        font-size: 14px;
        margin-top: 20px;
    }

    button {
        width: 100%;
        margin-top: 16px;
        padding-top: 12px;
        padding-bottom: 12px;
    }

    z-index: 999;
}

.panel::after {
    right: auto;
    position: absolute;
    top: -14px;
    left: 52px;
    display: inline-block!important;
    border-right: 10px solid transparent;
    border-bottom: 14px solid #fff;
    border-left: 10px solid transparent;
    content: '';
    border-bottom-color: #0D3840;
}

.flagselect {
    button {
        margin-top: 2px;
        background: #01191E;

        span {
            margin: 0;
        }
    }
    ul * {
        color: black; 
    }
}

.flagselectbutton {}