@import '../../../assets/style/base';
@import '../../../pages/product';

.login_modal_wrap {
    position: relative;
    padding: 20px;
    width: 708px;
    min-height: 451px;
    max-width: 708px;
    text-align: center;
    z-index: 1000;
    background-color: #01191E;
    // opacity: 0.75;
}

.login_overlay {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;

    width: 100%;
    height: 100%;
    z-index: 10001;
    // background-color: #01191E;


    .button_close {
        position: absolute;
        top: 20px;
        right: 20px;
        height: 20px;

        background: none;
        border: none;

        img {
            width: 20px;
            height: 20px;
        }

    }
}

.login_header {
    font-family: Poppins;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: center;
}

.login_body {
    margin-top: 20px;
}

.form_group {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;;

    .label_group {
        display:  flex;
        justify-content: space-between;
        width: 100%;
        
        label {
            font-family: Poppins;
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: 27px;
            letter-spacing: 0em;
            text-align: left;
        }
    }

    input {
        padding-left: 20px;
        background: #0D3840;
        height: 46px;
        border-radius: 10px;
        border: none;
    }
}

.submit_btn {
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: center;
    padding: 11px 0;
    border: none;
    border-radius: 10px;
    background: #F15A24;
    height: 46px;
    width: 410px;
}

.row {
    margin: 0 -10px;
    display: flex;
    margin-bottom: 20px;
}

.col_md_6 {
    margin: 0 10px;
    width: 50%;
}

.col_md_3 {
    margin: 0 10px;
    width: 25%;
}

