@import '../../assets/style/base';
@import '../product';

@include product_common_style();

.product_page {
    .product_detail_container {
        margin: 0 auto;
        width: 1012px;

        .product_detail_wrap {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin: 94px 0 5px 0 ;
    
            .product_title {
                margin-bottom: 10px;
                width: 100%;
                text-align: left;
                font-family: Poppins;
                font-size: 36px;
                font-style: normal;
                font-weight: 700;
                line-height: 54px;
                letter-spacing: 0em;
            }
    
            &>img {
                margin-right: 20px;
                width: 496px;
                height: 496px;
            }
    
            .product_detail_content {
                padding: 26px;
                width: 496px;
                background-color: #01191E;
                border-radius: 25px;

                .icon_group {
                    margin-bottom: 25px;

                    img {
                        margin-right: 20px;
                        width: 50px;
                        height: 50px;
                    }
                }

                .time_wrap {
                    display: flex;
                    justify-content: space-between;
                    width: 100%;

                    // button {
                    //     padding: 3px 20px;
                    //     width: 126px;
                    //     background-color: #F15A24;
                    //     @extend %btn_common_style;   
                    //     font-weight: 700;
                    //     font-size: 15px;
                    //     line-height: 23px;
                    //     border-radius: 5px;
                    //     cursor: none;
                    // }

                    // button:hover {
                    //     opacity: none;
                    // }

                    .time_per {
                        padding: 3px 20px;
                        width: 126px;
                        background-color: #F15A24;
                        @extend %btn_common_style;   
                        font-weight: 700;
                        font-size: 15px;
                        line-height: 23px;
                        border-radius: 5px;
                        justify-content: center;
                    }
                    &>div {
                        display: flex;
                        justify-content: space-between;
                        padding: 3px 6px;
                        width: 298px;
                        background-color: #0D3840;
                        border-radius: 5px;

                        span {
                            font-family: Poppins;
                            font-size: 15px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: 23px;
                            letter-spacing: 0em;
                            text-align: left;
                        }    
                    }
                }

                .product_price {
                    margin: 25px 0;
                    font-family: Poppins;
                    font-size: 48px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 72px;
                    letter-spacing: 0em;
                    text-align: left;

                }

                button.btn_purchase {
                    padding: 11px;
                    width: 100%;
                    @extend %text_common_style;               
                    font-size: 26px;
                    font-weight: 600;
                    line-height: 39px;
                    background-color: #34A853;
                    border-radius: 15px;
                    text-align: center;
                }

                .btn_group {
                    display: flex;
                    justify-content: space-between;
                    button {
                        margin: 25px 0;
                        padding: 4px 10px;
                        @extend %btn_common_style;
                        width: 213px;
                        background-color: #0D3840;
                        border-radius: 15px;
                        font-size: 22px;
                        font-weight: 500;
                        line-height: 33px;
                        text-align: center;


                    }
                }

                .footer_text {
                    margin: 0 auto;
                    width: 338px;        
                    @extend %btn_common_style;
                    font-size: 17px;
                    font-weight: 500;
                    line-height: 26px;
                    text-align: center;
                    color: #0D3840;

                    a {
                        color: #F15A24;
                    }

                }   
            }
        }

        .explain_wrap {
            margin-top: 35px;
            text-align: center;
            dl {
                dt {
                    margin-bottom: 25px;
                    span {
                        margin: 0 10px;
                        font-family: Poppins;
                        font-size: 32px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 48px;
                        letter-spacing: 0em;
                        text-align: left;
                        text-decoration: underline;
                        cursor: pointer;

                        &.active {
                            color: #F15A24;
                        }
                    }
                }

                dd {
                   p, a {
                       margin-bottom: 30px;
                        font-family: Poppins;
                        font-size: 22px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 33px;
                        letter-spacing: 0em;
                        text-align: left;
                   }

                   .explain_detail_wrap {
                       p {
                            margin-bottom: 0;

                            a {
                            color: #F15A24;
                          }
                       }

                       
                   }
                }
            }
        }

        .product_recommend_wrap {
            margin: 37px 0 5px 0;
            .caption {
                font-family: Poppins;
                font-size: 32px;
                font-style: normal;
                font-weight: 600;
                line-height: 48px;
                letter-spacing: 0em;
                text-align: center;

            }

            @include product_list_style();
        }
    }
}
