.cardtitle {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;

    p {
        font-size: 28px;
        font-weight: bold;
    }
}