.buttonstyle {
    width: 100%;
    display: block;
    border-radius: 15px;
    color: white;
    border: none;
    padding: 9px;
    font-family: Poppins;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: center;
}