@import '../../../assets/style/base';
.mydata_page_wrap {
   padding-bottom: 10px;
   .config_top {
     margin-top:-43px;

     .config_top_title {
        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 38px;
        line-height: 57px;
        text-align: center;
     }
     .config_top_content {
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 33px;
        text-align: center;
        margin:0 154px;
     }
   }
   .config_data {
     margin:42px 10px 0px 10px;

      .config_data1, .config_data2 {
        display: flex;
      }
      .config_data1 p {
        font-family: Poppins;
        font-style: normal;
        font-weight: 500;
        font-size: 22px;
        line-height: 33px;
      }
      .config_data2 p {
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 32px;
        line-height: 48px;
      }
   }
   .config_group {
      margin: 0 auto;
      margin-bottom: 63px;     
      width: 1012px;

        dl {
            margin-bottom: 12px;
            
            dt {
                font-family: Poppins;
                font-size: 23px;
                font-style: normal;
                font-weight: 700;
                line-height: 35px;
                letter-spacing: 0em;
                text-align: left;
            }
    
            dd {
                font-family: Poppins;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
                letter-spacing: 0em;
                text-align: left;
            
            }
        }
        .config_header p {
            font-size : 16px;
        }
        .config_panel {
            display: flex;
            
            .config_panel_left {
                margin: 0 10px;
                padding: 0px 29px 0px 20px;      
                // max-width: 880px;
                background-color: #01191E;
                border-radius: 15px;
                width: 1012px;
                height : 100%;

                .left_panel_content {
                    display: flex;
                    align-items: center;
                    // justify-content: space-between;
                    padding : 20px 0;
                    border-bottom : 1px #0D3840 solid;
                
                    .left_panel_content_p1 {
                        // padding: 0 0px 0px 16px;
                        max-width:250px;
                        width : 48%;
                        font-size: 16px;
                        line-height: 24px;
                        font-weight: 500;
                        padding-left: 20px;
                    }
                    .left_panel_content_number {
                      margin-left: 118px;
                    }
                    .left_panel_content_div1 {
                        margin-top : 20px;
                        width:15%;
                    }
                    .left_panel_content_div1 input {
                        text-align:center;
                        outline : none;
                        border:none;
                    }
                    .left_panel_content_button {
                        width: 30px;
                        height: 27px;
                        background-color: #0D3840;
                        margin: 0 5px;
                        border-radius: 8px;
                    }
                    .left_panel_content_sub, .left_panel_content_add {
                        background : none;
                        border : none;
                    }
                    .left_panel_content_p2 {
                        font-size :22px;
                        margin-left:77px;
                        width:120px;
                    }
                    .left_panel_content_button {
                      width: 218px;
                      height: 60px;
                      left: 1228px;
                      top: 808px;
                      background: #34A853;
                      border-radius: 15px;
                      font-family: Poppins;
                      font-style: normal;
                      font-weight: 500;
                      font-size: 22px;
                      line-height: 33px;
                      margin-left:56px;
                      border:none;
                    }
                }
            }
        }    
    }
    .config_bottom {
      margin : 20px 10px 0px 10px;
      float:right;
      .config_bottom_button {
          width: 283px;
          height: 46px;
          left: 1183px;
          top: 1287px;
          background: #F15A24;
          border-radius: 5px;
          font-family: Poppins;
          font-style: normal;
          font-weight: 500;
          font-size: 22px;
          line-height: 33px;
          border:none;
      }
    }
    
}
