.card {
    max-width: 238px;
    background-color: #01191E;
    border-radius: 14px;
}

.cardimage {
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    img {
        object-fit: cover;
        width: 238px;
        max-width: 238px;
        height: auto;
        opacity: 0;
    }
}

.discount {
    position: absolute;  
    bottom: 0; 
    font-size: 15px;
    font-weight: bold;
    padding: 4px 10px 4px 10px;
    background: #34A853;
    border-top-right-radius: 4px;
}

.carddescript {
    padding: 16px 8px;
}

.pricebtn {
    padding: 0 8px;
    button {
        width: 100%;
        background: #0D3840;
        border:none;
        border-radius: 4px;
    }
}

.cardtitle {
    text-align: center;
    margin-bottom: 16px;
}

.cardicon {
    margin-bottom: 16px;
    padding: 0 8px;

    a {
        margin-right: 4px;
    }
}