@import '../../assets/style/base';
@import '../product';

@include product_common_style();

.product_catalog_container {
  margin: 0 auto;
  width: 1012px;

  .product_catalog_wrap {
      display: flex;
      flex-wrap: wrap;
      margin: 94px 0 5px 0 ;

      .catalog_title {
          margin-bottom: 10px;
          width: 100%;
          text-align: center;
          font-family: Poppins;
          font-size: 36px;
          font-style: normal;
          font-weight: 700;
          line-height: 54px;
          letter-spacing: 0em;
      }

       @include product_list_style();

      .filter_wrap {
        width: 100%;

        .filter_header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;

            .header_left {
              ul {
                display: flex;
                list-style: none;

                li {
                  margin-right: 9.6px;
                  padding: 2px 7px;
                  border-radius: 30px;
                  background: #01191E;
                  font-family: Poppins;
                  font-size: 15px;
                  font-style: normal;
                  font-weight: 500;
                  line-height: 23px;
                  letter-spacing: 0em;
                  text-align: left;
                  cursor: pointer;

                  &:last-child {
                    color: #DB2B2F;
                    background: none;
                    cursor: default;
                  }

                }
              }
            }
        }
      } 

      .filter_list {
        display: flex;

        .filter_item {

        }
      }
  }
}         