.logo {
    float: left;

    // img {
    //     // height: 101.9998550415039px;
    //     // width: 322.20660400390625px;
    // }
}


.navbar {
    float: right;
    color: #ffff;

    ul {
        margin-right: 80px;
        list-style: none; 

        li {
            display: inline-block;
            margin-left: 29px;

            a {
                font-family: Poppins;
                font-size: 22px;
                font-style: normal;
                font-weight: 700;
                line-height: 102px;
                letter-spacing: 0em;
                text-align: left;
                text-decoration: none;
            }         
        }
    }
}

.container {
    max-width: 1451px;
    margin: 0 auto;
}

@media (max-width: 1600px) {
    .container {
        width: 90%;
    }

    .logo {
        width: 20%;
    }

    .navbar {
        float: right;
        color: #ffff;
    
        ul {
            margin-right: 80px;
            list-style: none; 
    
            li {
                display: inline-block;
                margin-left: 29px;
    
                a {
                    font-size: 18px;
                    font-weight: 700;
                    line-height: 76px;
                    letter-spacing: 0em;
                }         
            }
        }
    }
}

.clearfix {
    clear : both;
}