.config_panel_right {
  margin: 0 10px;
  padding: 0 20px;      
  max-width: 880px;
  background-color: #01191E;
  border-radius: 15px;
  width:324px;
  height:100%;
}

.right_panel_content {
  // display: flex;
  align-items: center;
  justify-content: space-between;
  // padding : 20px;
}

.right_panel_content_label {
  display: flex;
  background-color: #0D3840;
  width: 100%;
  padding: 6px;
  border-radius: 5px;
  margin : 18px 0px;
  cursor: pointer;
}
.right_panel_content_label_first {
    align-self: center;
    background-color: #01191E;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    margin : 10px;
}
.right_panel_content_label_first_active {
    align-self: center;
    background-color: #fff;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    margin : 10px;
    border: 3px solid #F15A24;
}
.label_img {
  padding-right:10px;
}