body {
  overflow-x: hidden;
  margin    : 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing : antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.img-responsive {
  display  : block;
  max-width: 100%;
}

.alice-carousel__prev-btn {
  text-align: left !important;
  width     : unset !important;
  padding   : 0 !important;
  position  : absolute !important;
  top       : 42% !important;
  left      : 0;
}

.alice-carousel__next-btn {
  text-align: right !important;
  width     : unset !important;
  padding   : 0 !important;
  position  : absolute !important;
  top       : 42% !important;
  right     : 0;
}

.alice-carousel__prev-btn-item.__inactive span,
.alice-carousel__next-btn-item.__inactive span,
.alice-carousel__prev-btn-item span,
.alice-carousel__next-btn-item span {
  font-size: 46px !important;
  padding  : 0;
  color    : #F15A24;
}

.alice-carousel__dots-item:not(.__custom) {
  width : 6px;
  height: 6px;
}

.alice-carousel__dots-item:not(.__custom) {
  background-color: #C4C4C4 !important
}

.alice-carousel__dots-item:not(.__custom):hover,
.alice-carousel__dots-item:not(.__custom).__active {
  background-color: #F15A24 !important;
}


.ReactFlagsSelect-module_selectBtn__19wW7:after {
  top              : 18px;
  border           : solid white !important;
  border-width     : 0 2px 2px 0 !important;
  display          : inline-block !important;
  padding          : 3px !important;
  margin-bottom    : 4px !important;
  margin-left      : 12px !important;
  transform        : rotate(45deg);
  -webkit-transform: rotate(45deg);
}

/**/
.row {
  margin : 0 -10px;
  display: flex;
}

.col-md-6 {
  margin: 0 10px;
  width : 50%;
}

.active {
  background: #01191E;
}

.active a {
  color: #F15A24;
}

.active:before,
.active:after {
  content   : "";
  position  : absolute;
  height    : 8px;
  width     : 8px;
  bottom    : 0;
  background: radial-gradient(circle at top left, #fff0 72%, #01191E 75%);
}

.active:after {
  right     : 0;
  top       : 100%;
  background: radial-gradient(circle at bottom left, #fff0 70%, #01191E 75%);
}

.active:before {
  bottom: 100%;
  right : 0;
}

.thirdactive {
  color: #F15A24;
}

.thirdactive a {
  color: #F15A24;
}

.modal {
  position  : fixed;
  top       : 0;
  left      : 0;
  width     : 100%;
  height    : 100%;
  background: rgba(0, 0, 0, 0.6);
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}