@import '../../../assets/style/base';

.mydata_page_wrap {
   padding-bottom: 10px;
   
   .config_group {
      margin: 0 auto;
      margin-bottom: 63px;     
      width: 880px;

      dl {
         margin-bottom: 12px;
         
         dt {
            font-family: Poppins;
            font-size: 23px;
            font-style: normal;
            font-weight: 700;
            line-height: 35px;
            letter-spacing: 0em;
            text-align: left;
         }
   
         dd {
            font-family: Poppins;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0em;
            text-align: left;
        
         }
      }
      
      .config_panel {
         margin: 0 auto;
         padding: 20px;
        
         max-width: 880px;
         background-color: #0D3840;
         border-radius: 15px;
   
         .form_group {
            display: flex;
            justify-content: center;
            flex-direction: column;
            width: 100%;;
   
            .label_group {
               display:  flex;
               justify-content: space-between;
               width: 100%;
               
               :first-child {
                  font-family: Poppins;
                  font-size: 14px;
                  font-style: normal;
                  font-weight: 600;
                  line-height: 21px;
                  letter-spacing: 0em;
                  text-align: right;
               }
   
               :nth-child(2) {
                  font-family: Poppins;
                  font-size: 14px;
                  font-style: normal;
                  font-weight: 600;
                  line-height: 21px;
                  letter-spacing: 0em;
                  text-align: right;
                  color: #F15A24;
               }
            }
   
            img {
               width: 20px;
               height: 20px;
            }
   
            input, button {
               padding-left: 20px;
               background-color: #01191E;
               height: 46px;
               border-radius: 10px;
               border: none;
   
               img {
                  margin: 0 13px;
                  align-self: center;
                  vertical-align: middle;
               }
            }
   
            ul {
               display: flex;
               list-style: none;
               margin: 5px 0;
   
               li {
                  margin: 0 3.5px;
                  width: 25%;
                  border-bottom: 6px solid #01060A;
                  border-radius: 5px;
               }
            }
   
            p {
                  font-family: Poppins;
                  font-size: 11px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: 17px;
                  letter-spacing: 0em;
                  text-align: left;
                  color: #ffffff;
               }
            }
   
         button.btn1 {
            padding: 7px;
            min-width: 238px;
            margin-left: auto;
            align-self: flex-end;
            font-family: Poppins;
            font-size: 22px;
            font-style: normal;
            font-weight: 600;
            line-height: 33px;
            letter-spacing: 0em;
            text-align: center;
            border-radius: 10px;
            border: none;
         }
   
        //  .check_part {
        //     display: flex;
        //     align-items: center;
        //     input {
        //        width: 32px;
        //        height: 32px;
        //        vertical-align: middle;
        //        align-self: center;
   
        //        margin: 5px;
               // -webkit-appearance: none;
               // -moz-appearance: none;
               // -o-appearance: none;
               // appearance:none;
        //        outline: 2px solid lightblue;
        //        box-shadow: none;
        //        font-size: 2em;
   
        //        &:checked {
        //           background-color: red;
        //        }
        //     }
        //  }

				.check_part {
					display: flex;
					align-items: center;
				}
   
         .btn2 {
            margin-top: 18px;
            padding: 12px;
            width: 324px;
            background-color: $orange-color;
   
            font-family: Poppins;
            font-size: 15px;
            font-style: normal;
            font-weight: 500;
            line-height: 23px;
            letter-spacing: 0em;
            text-align: center;
   
            border: none;
            border-radius: 10px;
   
         }
      }
   }
}



@supports(-webkit-appearance: none) or (-moz-appearance: none) {
  input[type='checkbox'].ch,
  input[type='radio'] {
    --active: #F15A24;

    --active-inner: #fff;
    // --focus: 2px rgba(39, 94, 254, .3);
    // --border: #2a315c;
    --border-hover: #01191E;
    --background: #01191E;
    --disabled: #F6F8FF;
    --disabled-inner: #E1E6F9;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 30px;
    outline: none;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0;
    cursor: pointer;
    border: 1px solid var(--bc, var(--border));
    background: var(--b, var(--background));
    transition: background .3s, border-color .3s, box-shadow .2s;
		margin-right: 5px;
    &:after {
      content: '';
      display: block;
      left: 0;
      top: 0;
      position: absolute;
      transition: transform var(--d-t, .3s) var(--d-t-e, ease), opacity var(--d-o, .2s);
    }
    &:checked {
      --b: var(--active);
      --bc: var(--active);
      --d-o: .3s;
      --d-t: .6s;
      --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
    }
    &:disabled {
      --b: var(--disabled);
      cursor: not-allowed;
      opacity: .9;
      &:checked {
        --b: var(--disabled-inner);
        --bc: var(--border);
      }
      & + label {
        cursor: not-allowed;
      }
    }
    &:hover {
      &:not(:checked) {
        &:not(:disabled) {
          --bc: var(--border-hover);
        }
      }
    }
    &:focus {
      box-shadow: 0 0 0 var(--focus);
    }
    &:not(.switch) {
      width: 30px;
      &:after {
        opacity: var(--o, 0);
      }
      &:checked {
        --o: 1;
      }
    }
    & + label {
      font-size: 14px;
      line-height: 21px;
      display: inline-block;
      vertical-align: top;
      cursor: pointer;
      margin-left: 4px;
    }
  }
  input[type='checkbox'] {
    &:not(.switch) {
      border-radius: 7px;
      &:after {
        width: 5px;
        height: 13px;
        border: 2px solid var(--active-inner);
        border-top: 0;
        border-left: 0;
        left: 11px;
        top: 4px;
        transform: rotate(var(--r, 20deg));
      }
      &:checked {
        --r: 43deg;
      }
    }
  }
}

